@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: "Open Sans", sans-serif;
    color: rgba(65, 65, 65, 0.933);
    background-color: #f2f2f2;

    display: flex;
    flex-direction: column;
}

header {
    background-color: #d1d2d4;
    height: 6.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}

header a {
    font-size: 4vh;
}

header h1 {
    font-size: 4vh;
}
.container {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.menus {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 93.5vh;
}
.menus .btn-principal {
    width: 10vw;
    height: 6.5vh;
    background-color: #d1d2d4;
  
}

.menus * {
    text-align: right;
    padding-right: 5px;
    
}
.menus .btn-sec {
    text-decoration: none;
    width: 9vw;
    text-align: right;
    height: 5vh;
    background-color: white;
    border: none;
    margin: 0px;
    color: #1874cd;
    font-size: 0.8rem;
    font-weight: bold;
}

.menus button:hover {
    background-color: white;
}
.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 93.5vh;
    width: 90vw;
    align-items: center;
    justify-content: start;
    background-color: #f2f2f2;
    padding: 10px;
}
.content i {
    font-size: 45vh;
    color: #cecece;
    height: 93.5vh;
}

























.elements{
    font-size: 0.8rem;
    width: 85vw;
    height: 80vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    overflow: hidden;
    overflow-y: auto;
    justify-content: space-evenly;
}


.elements::-webkit-scrollbar {
    width: 3px; 
    height: 3px; 
}

.elements::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
    transition: background-color 0.3s;
}

.elements::-webkit-scrollbar-thumb:hover {
    background-color: #848484; 
}

.elements::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 4px; 
}
.card {
    flex: 1 1 calc(25% - 16px);
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 20vw;
    width: 20vw;
    height: 22vh;
    margin: 5px;
    overflow: hidden;
    overflow-y: auto;
}

.cardOne{
    
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60vw;
    width: 60vw;
    height: auto;
    margin: 5px;
    overflow: hidden;
    overflow-y: auto;
}




.card::-webkit-scrollbar {
    width: 3px; 
    height: 3px; 
}

.card::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
    transition: background-color 0.3s;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: #848484; 
}

.card::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 4px; 
}










.card-header {
    background-color: #c3c5c7;
    color: #fff;
    padding: 2px;
    text-align: center;
}

.card-body {
    padding: 2px;
}

.card-body p {
    margin: 5px 0;
}

.card-footer {
    background-color: #f8f9fa;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.btn {
    padding: 10px 10px;
    margin: auto;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    margin: 0 5px;
    color: #fff;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-update {
    background-color: #bfc0c0;
}

.btn:hover {
    opacity: 0.8;
}